.background-color{
    background-color: rgb(23, 56, 23);
    background-position: center;
    height: 100vh;
    width: 100%;
}

.nav-link{
    color: #ff8bff;
    font-weight: 700;
}
.research-a{
    color: #ff8bff; 
    
}
.nav-link:hover{
    color: #ff8bff;
    cursor: pointer;
    text-decoration: underline;
}
.research-a:hover{
    color: #ff8bff;   
}

.over-view{
    color: #e944c5;
    font-weight: 700;
}

.dropdown-item{
    color: #e944c5;
    font-weight: 700;

}

.dropdown-item:hover{
    color: #e944c5;
    font-weight: 700;
    text-decoration: underline;


}

.nav-search{
    color: #ff8bff;
    text-decoration: none;
    font-weight: 700;
    margin-right: 15px;
}

.nav-search:hover{
    color: #ff8bff;
    text-decoration: underline;
    font-weight: 700;
    cursor: pointer;

}

.sign-in{
    border: none;
    color: #ff8bff;
    font-weight: 700;
    font-size:medium;
}
   
.sign-in:hover{
    border: none;
    color: #ff8bff;
    font-weight: 700;
    font-size:medium;
    text-decoration: underline;
}

.sign-up{
  
    color: #ff8bff;
    font-weight: 700;

}
.sign-up:hover{
  
    background-color: #ff8bff;
    color: black;
    cursor: pointer;
    transition: 0.4s;
    

}

.Introducing{
    color: #ff8bff;
    font-weight: 700;
    margin-top: 25%;
}




.intro-pragraph{
    color: #ff8bff;
}

.chat-gpt{
    margin-top: 15%;
}

.try-chatgpt{
    color: #ff8bff;
    font-weight: 700;
    outline-color:  #ff8bff;
    background-color: #ff8bff00;
    margin-top: 15px;
}

.try-chatgpt:hover{
    color:black;
    font-weight: 700;
    outline-color:  #ff8bff;
    background-color: #ff8bff;
    
}

.read-about{
    color: #ff8bff;
    margin-left: 15px;
    margin-top: 17px;
   
    cursor: pointer;
}

.read-about:hover{
    color: #ff8bff;
    text-decoration: underline;
    transition: 0.5s;
   text-underline-offset: gray;
   cursor: pointer;
}

.ruby-chen{
    padding-left:82%;
    padding-top: 8px;
    color: #ff8bff;
    font-size: small;
    font-weight: 700;
}
@media only screen and (max-width: 576px) {
    .background-2{
        background-color:rgb(23, 56, 23) ;
        height: 70vh;
        width: 100%;
        }
  }

  @media only screen and (max-width: 576px){
    .ruby-chen{
        padding-left:50%;
        padding-top: 10px;
        color: #ff8bff;
        font-size: small;
        font-weight: 700;
    }
    
  }

/* section-2 */

.background-2{
background-color:rgb(23, 56, 23) ;
height: 45vh;
width: 100%;
}

.divider{
    border: 1px solid rgba(0, 0, 0, 0.651);
    margin-top: 6rem;
    
}

.date-20-may{
    font-weight: 600;
    padding-left: 7%;
    margin-top: 15px;
}

